.header {
    background-image: linear-gradient(
                        to right bottom,
                        rgba($color-green-dark, .97), 
                        rgba($color-green-light, .6)),
                        url(../imgs/plants_homepage.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    color: #fff;

    margin: 0;
    padding: 8rem;

    display: flex;
    justify-content: center;
    align-items: center;

    

    &__text-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 3rem;

        @include responsive(phone) {
            font-size: 2rem;
        }
        
        @include responsive(big-desktop) {
            font-size: 4rem;
        }
    }

    &__heading-1 {
        margin-bottom: 1.2rem;
        font-weight: 300;
        text-shadow: 0 4px 10px rgba(#000, .3);
        //text-transform: uppercase;
        letter-spacing: 2px;
        color: $color-grey-light-1;


    }
    
    &__heading-2 {
        font-size: 3rem;
        font-weight: 200;
        padding: 0 2rem 2rem 2rem;
        margin-bottom: 5rem;
        border-bottom: 1px solid $color-grey-light-1;
        text-shadow: 0 4px 10px rgba(#000, .3);
        color: $color-grey-light-1;
        letter-spacing: .85px;
        text-align: center;

        @include responsive(phone) {
            font-size: 2rem;
            width: 86%;
        }

        @include responsive(big-desktop) {
            font-size: 3.7rem;
        }
    }
}

// reusable button
.btn-primary {
        
    &,
    &:link,
    &:visited {
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 400;
        background-color: $color-grey-light-1;
        color: $color-grey-dark;
        border: none;
        border-radius: 50px;
        padding: 1.3rem 4rem;
        box-shadow: 0 7px 10px rgba(#000, .2);
        letter-spacing: .85px;

        transition: all .2s;
        
        @include responsive(big-desktop) {
            font-size: 2rem;
        }
        
        @include responsive(phone) {
            font-size: 1.3rem;
        }
    }

    
    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 7px 30px rgba(#000, .2);
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 7px 10px rgba(#000, .3);
    }

    &:focus {
        outline: none;
    }

    &--green,
    &--green:link,
    &--green:visited {
        background-image: linear-gradient(to right, $color-green-light, $color-green-dark);
        color: #fff;
        font-size: 1.7rem;
        cursor: pointer;

        @include responsive(big-desktop) {
            font-size: 2rem;
        }
    }

    &--card,
    &--card:link,
    &--card:visited {
        @include responsive(tab-port) {
            font-size: 1.2rem;
            padding: 1rem 3rem;
        }
    }
}